/**
 * index.scss
 * - Add any styles you want here!
 */

 body {
  background: url(https://media.giphy.com/media/28Ko1jHbaClMUl35Rn/giphy.gif);
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}